In [1]:
#Import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#import decisiontreeclassifier
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
#import logisticregression classifier
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
#import knn classifier
from sklearn.neighbors import KNeighborsClassifier

#for validating your classification model
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import cross_val_score
from sklearn import metrics
from sklearn.metrics import roc_curve, auc

# feature selection
from sklearn.feature_selection import RFE
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

C:\Users\Cheryl-lyn\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
#read file
amc = pd.read_csv("AMCTheater/AMCSampleData_InsiderPremier.csv")
amc.head()

,ISPREMIER,AGE21PLUSINDICATOR,AGE18TO21INDICATOR,AGE13TO18INDICATOR,GENDERCODE,BIRTHDATE,AMCSTUBSLOYALTYEMAILOFFEROPTININDICATOR,AMCSTUBSREWARDSEMAILOPTININDICATOR,AMCSTUBSREWARDSMOBILEOPTININDICATOR,AMCSTUBSREWARDSSMSOPTININDICATOR,...,ONLINEFEESWAIVEDAMOUNT,ESTIMATEDINCOMERANGE,ESTIMATEDHOMEMARKETVALUERANGE,CHILDRENPRESENCE,HASFREQUENTVISITTHEATRENUMBER,TICKETQTYSUM,TICKETBALANCEDUESUM,CONCQTYSUM,CONCLOYDISCOUNTAMTSUM,CONCBALANCEDUESUM
0,1,1,0,0,3,1/13/1976,0,0,0,0,...,61.25,0,0,3,1,51,969.09,7,0.0,41.71
1,1,1,0,0,1,7/6/1983,0,0,1,0,...,123.00,3,13,0,0,40,842.00,1,-1.0,7.49
2,1,1,0,0,3,10/20/1970,0,0,0,0,...,182.50,0,0,3,1,49,675.66,4,0.0,25.42
3,0,1,0,0,0,7/10/1967,0,1,1,0,...,47.75,9,13,1,1,38,616.61,72,-7.0,474.14
4,1,1,0,0,1,8/1/1994,1,1,1,0,...,45.00,8,6,3,1,47,607.53,10,-2.0,63.60

In [3]:
#drop irrelevant column "BIRTHDATE"
amc = amc.drop(['BIRTHDATE'], axis=1)
amc.head()

,ISPREMIER,AGE21PLUSINDICATOR,AGE18TO21INDICATOR,AGE13TO18INDICATOR,GENDERCODE,AMCSTUBSLOYALTYEMAILOFFEROPTININDICATOR,AMCSTUBSREWARDSEMAILOPTININDICATOR,AMCSTUBSREWARDSMOBILEOPTININDICATOR,AMCSTUBSREWARDSSMSOPTININDICATOR,AMCSTUBSTHEATREMOBILEOFFEROPTININDICATOR,...,ONLINEFEESWAIVEDAMOUNT,ESTIMATEDINCOMERANGE,ESTIMATEDHOMEMARKETVALUERANGE,CHILDRENPRESENCE,HASFREQUENTVISITTHEATRENUMBER,TICKETQTYSUM,TICKETBALANCEDUESUM,CONCQTYSUM,CONCLOYDISCOUNTAMTSUM,CONCBALANCEDUESUM
0,1,1,0,0,3,0,0,0,0,0,...,61.25,0,0,3,1,51,969.09,7,0.0,41.71
1,1,1,0,0,1,0,0,1,0,1,...,123.00,3,13,0,0,40,842.00,1,-1.0,7.49
2,1,1,0,0,3,0,0,0,0,0,...,182.50,0,0,3,1,49,675.66,4,0.0,25.42
3,0,1,0,0,0,0,1,1,0,0,...,47.75,9,13,1,1,38,616.61,72,-7.0,474.14
4,1,1,0,0,1,1,1,1,0,1,...,45.00,8,6,3,1,47,607.53,10,-2.0,63.60

In [4]:
amc.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ISPREMIER,47168.0,0.115354,0.319452,0.00,0.0,0.00,0.00,1.00
AGE21PLUSINDICATOR,47168.0,0.892660,0.309548,0.00,1.0,1.00,1.00,1.00
AGE18TO21INDICATOR,47168.0,0.063920,0.244614,0.00,0.0,0.00,0.00,1.00
AGE13TO18INDICATOR,47168.0,0.038543,0.192505,0.00,0.0,0.00,0.00,1.00
GENDERCODE,47168.0,2.460778,1.081705,0.00,3.0,3.00,3.00,3.00
AMCSTUBSLOYALTYEMAILOFFEROPTININDICATOR,47168.0,0.816761,0.386866,0.00,1.0,1.00,1.00,1.00
AMCSTUBSREWARDSEMAILOPTININDICATOR,47168.0,0.859078,0.347945,0.00,1.0,1.00,1.00,1.00
AMCSTUBSREWARDSMOBILEOPTININDICATOR,47168.0,0.503053,0.499996,0.00,0.0,1.00,1.00,1.00
AMCSTUBSREWARDSSMSOPTININDICATOR,47168.0,0.000042,0.006512,0.00,0.0,0.00,0.00,1.00
AMCSTUBSTHEATREMOBILEOFFEROPTININDICATOR,47168.0,0.508035,0.499941,0.00,0.0,1.00,1.00,1.00
AMCSTUBSTHEATRESMSOFFEROPTININDICATOR,47168.0,0.000042,0.006512,0.00,0.0,0.00,0.00,1.00
LIFETIMEAMCSTUBSAWARDSEARNEDAMOUNT,47168.0,4.877686,30.804161,0.00,0.0,0.00,0.00,804.00
LIFETIMEAMCSTUBSSPENDAMOUNT,47168.0,51.843208,293.911215,-91.39,0.0,2.94,9.20,7902.85
ONLINEFEESWAIVEDAMOUNT,47168.0,2.075994,24.918020,0.00,0.0,0.00,0.00,1815.00
ESTIMATEDINCOMERANGE,47168.0,1.046875,2.470250,0.00,0.0,0.00,0.00,9.00
ESTIMATEDHOMEMARKETVALUERANGE,47168.0,2.114760,4.641638,0.00,0.0,0.00,0.00,19.00
CHILDRENPRESENCE,47168.0,2.679083,0.810694,0.00,3.0,3.00,3.00,3.00
HASFREQUENTVISITTHEATRENUMBER,47168.0,0.343432,0.474859,0.00,0.0,0.00,1.00,1.00
TICKETQTYSUM,47168.0,2.282692,3.821639,0.00,0.0,1.00,3.00,68.00
TICKETBALANCEDUESUM,47168.0,22.919615,39.623308,0.00,0.0,7.98,30.78,969.09
CONCQTYSUM,47168.0,1.968262,4.255762,0.00,0.0,0.00,3.00,87.00
CONCLOYDISCOUNTAMTSUM,47168.0,-0.197280,1.015473,-17.68,0.0,0.00,0.00,0.00
CONCBALANCEDUESUM,47168.0,11.325645,23.843980,0.00,0.0,0.00,15.19,517.18

In [5]:
amc.shape

(47168, 23)

In [6]:
y = amc['ISPREMIER'] 
X = amc.drop(['ISPREMIER'], axis =1)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()

In [10]:
# Fit only to the training data
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [11]:
# Now apply the transformations to the data:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
# confirming version 
from sklearn import neural_network
getattr(neural_network, "MLPCLassifier", None)
getattr(neural_network, "BernoulliRBM", None)

sklearn.neural_network.rbm.BernoulliRBM

In [13]:
from sklearn.neural_network import MLPClassifier

In [14]:
mlp = MLPClassifier(hidden_layer_sizes=(13,13,13),max_iter=500)

In [15]:
mlp.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(13, 13, 13), learning_rate='constant',
       learning_rate_init=0.001, max_iter=500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [16]:
predictions = mlp.predict(X_test)

In [17]:
from sklearn.metrics import classification_report,confusion_matrix

In [18]:
print(confusion_matrix(y_test,predictions))

[[10228   163]
 [  271  1130]]

In [19]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.97      0.98      0.98     10391
          1       0.87      0.81      0.84      1401

avg / total       0.96      0.96      0.96     11792

### Interpretation
There is an accuracy of **96%**. 
- TPR = (true positives/total positives) = 1130/1401 = 0.81
- FPR = (false positives/total negatives) = 10228/10391 = 0.98

In [20]:
len(mlp.coefs_)

4

In [21]:
len(mlp.coefs_[0])

22

In [22]:
len(mlp.intercepts_[0])

13